.alert {
    z-index: 999;
    width: 300px;
    max-width: 300px;
    height: fit-content;
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    color: #ffffffab;
}
.alert:hover {
    color: #fff;
}
.alert > .alert-timer {
    background-color: #ffffffab;
}
.alert:hover > .alert-timer {
    background-color: #fff;
}
.alert .alert-body {
    display: flex;
    padding: 5px;
}
.alert .alert-body > div {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert .alert-body > div button {
    padding: 0;
    color: #ffffffab;
    font-size: 18px;
    font-weight: bold;
    align-self: flex-start;
}
.alert .alert-body > div button:hover {
    color: #fff;
}
.alert-timer {
    display: block;
    height: 5px;
    padding: 0;
}
.alert-msg {
    display: block;
    text-align: center;
    width: 100%;
    padding: 8px 10px 10px 10px;
}

.alert-error {
    font-weight: bold;
    background-color: #c00404;
}
