@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a {text-decoration: none;}
a:visited {color: rgb(0, 0, 238);}
a:hover {text-decoration: underline;}
.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 5px 10px;
    margin: 0 auto;
}
button {
    background-color: #2ebc4f;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    width: fit-content;
    cursor: pointer;
}
input {
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #2b3137;
}
input::placeholder {
    font-size: 16px;
    font-style: italic;
}
hr {
    width: 100%;
    background-color: #2b3137;
    height: 3px;
    margin: 20px 0;
}
html {
    height: 100%;
    min-height: 100%;
}

.close {
    height: fit-content;
    color: #ccc;
    background-color: transparent;
}
.close:hover {
    color: #2b3137;
}
.d-none {
    display: none !important;
}
.alert {
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}
.alert .alert-body {
    display: flex;
}
.alert .alert-body > div {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert .alert-body > div button {
    padding: 0;
    color: #f24e4e;
}
.alert .alert-body > div button:hover {
    color: #c00404;
}
.alert-timer {
    display: block;
    height: 2px;
    padding: 0px 0px 0px 0px;
}
.alert-msg {
    display: block;
    text-align: center;
    width: 100%;
    padding: 8px 10px 10px 10px;
}
.alert-error {
    background: #ffa3a3;
    color: #c00404;
}
.alert-error > .alert-timer {
    background: #c00404;
}
.modal {
    display: none;
}
.modal.open {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #000000b5;
}
.modal.open > div {
    width: 100%;
    max-width: 500px;
    height: fit-content;
    background-color: #fff;
    margin: 20px;
    margin-top: 100px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal.open > div > div.modal-header {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #2b3137;
    padding-bottom: 10px;
}
.modal.open > div > div.modal-header span {
    width: 100%;
    padding: 5px;
    padding-right: auto;
    text-align: center;
    font-weight: bold;
}
.modal.open > div > div.modal-header button.close {
    align-self: flex-end;
    margin: 0px -30px;
    padding: 5px;
    font-size: 15px;
    text-transform: uppercase;
}
.modal.open > div > div.modal-body {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.modal.open > div > div.modal-body form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal.open > div > div.modal-body form input {
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.modal.open > div > div.modal-body form input::placeholder {
    font-size: 15px;
}
.commands {
    position: fixed;
    width: 70px;
    height: auto;
    padding: 5px;
    background: transparent;
    bottom: 25px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
button.btn-flutuante-add, 
button.btn-flutuante-fight {
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
}
button.btn-flutuante-add:hover {
    background-color: #43a047;
}
button.btn-flutuante-fight {
    margin-top: 15px;
    background-color: red;
}
button.btn-flutuante-fight:hover {
    background-color: #d50000;
}
button.btn-flutuante-fight img {
    width: 40px;
    height: 40px;
}
@keyframes neon {
    from {filter: drop-shadow(0 0 5px var(--cor-neon));}
    to {filter: drop-shadow(0 0 15px var(--cor-neon));}
}
body {
    background: #ccc;
}
#app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
#app header,
#app main.init-view,
#app footer {
    display: flex;
    background: url(https://github.com/images/modules/site/heroes/simple-codelines.svg),#2b3137;
    background-position: center 10%;
    background-size: cover;
    height: 70px;
}
#app main.init-view,
#app main {
    height: calc(100vh - 140px);
    display: flex;
}
#app main.multi-players,
#app main.result-view {
    height: auto;
    margin-bottom: 50px;
}

/* Header */
#app header {
    align-items: center;
}
#app header .container {
    justify-content: center;
}
#app header .container #logo {
    cursor: pointer;
    align-items: center;
    display: flex;
}
#app header .container #logo svg {
    background-color: #fff;
    border-radius: 50%;
    padding: 1px;
}
#app header .container #logo span {
    font-family: 'Bangers', cursive;
    color: #fff;
    font-size: 35px;
    margin: 0 15px;
}
#app header .container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px
}
#app header .container form input {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

/* Main */
#app main.init-view {
    justify-content: center;
    align-items: center;
}
#app main.init-view button.start-btn {
    width: fit-content;
    padding: .84rem 1.68rem;
    background-color: transparent;
    border: .15rem dashed yellow;
    animation: neon 0.8s alternate infinite ease-in-out;
    --cor-neon: #ffbe0b;
}
#app main.init-view button .start-text {
    font-weight: bold;
    font-size: 1.33rem;
}
.players {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.players img.vs {
    height: 150px;
    align-self: center;
    margin: 10px;
}
.two-players .players img.vs,
.multi-players .players img.vs {
    height: 50px;
    align-self: center;
}
.player {
    width: 100%;
    max-width: 450px;
    min-height: 130px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border: 1px solid #2b3137;
    border-radius: 5px;
    background-color: #fff;
}
.player:hover{
    box-shadow: 0px 0px 15px #2b3137;
}
.player button.close {
    padding: 5px;
}
.player img.player-self {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    padding: 2px;
    border: 2px dashed;
}
.player .player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: calc(100% - 118px);
}
.player .player-info .name {
    font-size: 20px;
    font-weight: bold;
}
.player .player-info .login {
    color: rgb(145, 143, 143);
    font-size: 15px;
    margin-top: -5px;
}
.result-view .container {
    flex-direction: column;
}
.qualific {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px auto 20px auto;
}
.result {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
}
.result .result-user {
    border-radius: 50%;
    padding: 2px;
    border: 2px dashed; 
}
.result .result-1,
.result .result-2,
.result .result-3 {
    flex:1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin:0 5px;
    align-items: center !important;
}
.result .result-2,
.result .result-3 {
    margin-top: 70px;
}
.result .result-1 {
    margin: 5px;
}
.result .result-2,
.result .result-3 {
    margin-top: 30px;
}
.podium {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px
}
.podium .corpo {
    width: 100%;
    height: 70px;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #bd7e00;
    padding: 0 15px;
}
.podium .corpo .podium-1,
.podium .corpo .podium-2,
.podium .corpo .podium-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.podium .corpo .podium-1 {
    margin: 0 5px;
}
.podium .corpo .podium-1 div.corpo,
.podium .corpo .podium-2 div.corpo,
.podium .corpo .podium-3 div.corpo {
    justify-content: center;
    align-items: center;
    background: #ffa000;
}
.podium .corpo .podium-1 div.corpo {
    border-left: 1px solid #bd7e00;
    border-right: 1px solid #bd7e00;
    font-size: 35px;
}
.podium .corpo .podium-2 {
    margin-top: 25px;
    margin-right: -7px;
}
.podium .corpo .podium-2 div.corpo {
    border-left: 1px solid #bd7e00;
    margin-right: -1px;
    z-index: 1;
}
.podium .corpo .podium-3 {
    margin-top: 25px;
    margin-left: -7px;
}
.podium .corpo .podium-3 div.corpo {
    border-right: 1px solid #bd7e00;
    margin-left: -1px;
    z-index: 1;
}
.podium .corpo .podium-1 span.top,
.podium .corpo .podium-2 span.top,
.podium .corpo .podium-3 span.top {
    height: 10px;
    background: #ffa000;
    border: 1px solid #bd7e00;
    z-index: -1;
    margin-bottom: -2px !important;
    border-radius: 7px;
}
.podium .corpo .podium-1 span.top {
    margin: 0 -5px;
}
.podium .corpo .podium-2 span.top {
    margin-left: -5px;
}
.podium .corpo .podium-3 span.top {
    margin-right: -5px;
}
.podium .base,
.podium .base-2, 
.podium .base-3 {
    width: 100%;
}
.podium .base span, 
.podium .base-2 span, 
.podium .base-3 span  {
    border: 1px solid #bd7e00;
    background: #ffa000;
    height: 10px;
    display: block;
}
.podium .base {
    z-index: -1;
}
.podium .base span {
    margin: 0 10px;
    margin-top: -1px;
    border-bottom: 0;
}
.podium .base-2 {
    z-index: -2;
}
.podium .base-2 span {
    margin: 0 5px;
    margin-top: -1px;
    border-bottom: 0;
}
.podium .base-3 {
    z-index: -3;
    margin-top: -1px;
}
.tables {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tables .tabela {
    margin: 0 10px 25px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.tables .tabela span.title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.tables .tabela span.title-helper {
    font-size: 12px;
    color: #2b3137;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}
.tables .tabela table {
    border-collapse: collapse;
}
.tables .tabela table,
.tables .tabela table th,
.tables .tabela table td {
    padding: 5px;
    border: 1px solid #2b3137;
    text-align: center;
}
.tables .tabela table th {
    background: #2b3137;
    color: #fff;
}
.tables .tabela table tbody tr {
    font-size: 14px;
}
.tables .tabela table tbody tr:nth-child(odd) {
    background-color: #eee;
 }
 .tables .tabela table tbody tr:hover {
     background-color: #2b313759;
 }
/* Footer */
#app footer {
    height: 70px;
    line-height: 70px;
    color: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    bottom: 0;
    margin-top: auto;   
}
#app footer a {
    margin: 0 10px;
    color: #fff;
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) {
    .container {
        padding: 5px 30px;
        max-width: 992px;
    }
    .commands {
        right: 40px;
    }
    .qualific {
        max-width: 500px;
        width: 500px;
    }
    .tables .tabela {
        width: calc(50% - 20px);
    }
    .resumo.tables .tabela {
        width: 50%;
    }
}
/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) {
    .two-players .players {
        flex-direction: row;
    }
    .two-players .players img.vs {
        margin: 10px 50px;
    }
    .tables .tabela {
        width: calc(33.33% - 40px);
    }
    .resumo.tables .tabela {
        width: 50%;
    }
    
}